/**
 * $Id: ie-lte-7.css,v 1.2 2010/06/04 21:30:04 jmburnz Exp $
 * adaptivethemes.com
 *
 * @file ie-lte-7.css
 *
 * Support for the Conditional Styles module. This module allows themes 
 * to specify conditional stylesheets in their .info file and the conditional 
 * comments will be automatically included at the end of the standard $styles variable. 
 * 
 * http://drupal.org/project/conditional_styles
 *
 * The module is not included in the base theme, you must download and install it.
 */

.view-recommended-recipes li.taxonomy-page-item {
    float: right;
	padding-bottom:10px;
}
.views_slideshow_thumbnailhover_div_breakout_teaser {
    float: right;
}
.section-recipes .view-taxonomy-term li.taxonomy-page-item {
    float: right;
}
.view-recommended-recipes li.taxonomy-page-item .node-type-recipe {
	padding-bottom:10px;
}
.section-recipes .view-taxonomy-term li.taxonomy-page-item .node-type-recipe {
	padding-bottom:10px;
}
.tweetbutton {
}
.field-links .links .google_plusone {
	float:none;
}