/* This file will hold styles that are loaded using the same media query as the normal grid. */
#region-menu .navigation #secondary-menu {
	width: 854px;
	margin-left: -170px;
	padding-left: 146px;
}
#region-menu {
	margin-left: 0;
}
#region-menu .navigation a {
	font-size: 1.1em;
}
#region-menu .navigation #main-menu li a {
	padding: 12px 55px;
}
#region-menu .navigation #secondary-menu li a {
	padding: 6px 33px;
}
.page-recipes-fb-recipe-of-the-week .container-12 .grid-12 {
    width: 362px;
}
.block ul.recipe-categories-links li {
    width: 160px;
}
/**
 *     Blog
 **/
.node-blog .links {
    display: block;
}
.node-blog ul.links {
    right: -252px;
    top: -51px;
}
.context-blog .sticky {
    margin-left: 260px;
}
/** 
 * Products
**/
.context-products .view-product-categories .item-list p {
    float: left;
    margin-top: 16px;
    width: 335px;
    margin-right: 15px;
}
.context-products .view-product-categories .item-list li {
    display: inline-block;
    margin: 0 5px;
}
.lt-ie9 .context-products .view-product-categories .item-list li {
    float: left;
    width: 185px;
    margin-bottom: 5px;
}
.lt-ie9 .context-products h2.page-section-title-9 {
    clear: both;
}
.lt-ie9 .context-products .view-product-categories .item-list p {
    font-size: 14px;
}
.node-type-product .group-serving-suggestions {
    display: inline-block;
    width: 300px;
    margin-left: 10px;
    float: left;
    clear: none;
    padding-top: 15px;
}
.lt-ie8 .node-type-product .group-product-image {
    width: 300px;
}
.lt-ie8 .node-type-product .group-serving-suggestions {
    margin-left: 5px;
}
.lt-ie8 .node-type-product .group-product-info-boxout {
    margin-left: 10px;
}
.lt-ie9 .context-products .field-name-field-product-buy-on a {
    margin-top: 5px;
}
.node-type-product .group-product-info-boxout {
    margin-left: 24px;
}
