/* This file will hold styles that are loaded using the same media query as the narrow grid. */

/** 
 * Structural elements
**/
h1#page-title,
.breadcrumb {
    text-align: left;
}
html {
    background-attachment: fixed;
    background-clip: border-box;
    background-color: #FFFFFF;
    background-image: url("/sites/all/themes/dressitalian/css/images/utensils-bg.jpg");
    background-origin: padding-box;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.page {
    margin-top: 20px;
}
.region-content-inner ul.links li {
    display: block;
    float: right;
}
.region-content-inner ul.links li {
     margin-top: -20px;
}
.region-content-inner ul.links {
    float: right;
    display: block;
    margin: -10px 0 0;
}
.node-type-recipe .region-content-inner ul.links {
    margin: -65px 0 0;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .context-recipes .region-content-inner ul.links {
    margin: -95px 0 0;
    }
    .context-recipes .region-content-inner ul.links li {
        margin-top: 10px;
    }
}
ul.links .service-links-pinterest-button a {
    margin-top: -21px !important;
}
.region-content-inner ul.links .service-links-pinterest-button {
    margin-top: 25px;
}
.lt-ie9 .node-type-product .region-content-inner ul.links .service-links-pinterest-button,
.ie9 .node-type-product .region-content-inner ul.links .service-links-pinterest-button {
    margin-top: -20px;
}

.links .print_html a img {
    padding-left:50px;
    outline:none;
}
.links .print_html a {
    background: url("/sites/all/themes/dressitalian/images/print-icon.png") no-repeat scroll left top white;
    display: inline-block;
    width: 50px;
    height: 47px;
    overflow:hidden;
    margin-top: 15px;
}
.links .print_html a:hover {
    background: url("/sites/all/themes/dressitalian/images/print-icon.png") no-repeat scroll -50px top white;
}
/* Zones */
#zone-header,
#zone-content,
#zone-footer {
	padding: 10px 20px 0;
	margin:0 auto;
}

/* Regions */
#region-branding {
	margin-left:0;
	z-index:1;
}
#region-header-first {
	margin-right:0;
	position:relative;
	top:0;
}
#region-menu {
	margin-left: 30px;
}

/** 
 * Header elements
**/

.social-links { 
    float:right;
    display: block;
}
.social-links a {
	display: inline-block;
	margin-right: 6px;
	opacity: 0.8;
}
.facebook-follow, .twitter-follow, .rss-follow {
	width: 20px;
}
.social-links a:hover { opacity: 1; }

/** 
 * Navigation
**/

#region-menu .navigation a {
	color:#4C4C4C;
	display: inline-block;
	font-size: 1em;
}
/* Main menu */
#region-menu .navigation #main-menu {
	padding: 0;
	margin-top: 0;
}
#region-menu .navigation #main-menu li a {
    padding: 13px 30px;
}
#region-menu .navigation #main-menu li {
    display: inline-block;
    text-align: center;
}
/* Secondary menu */
#region-menu .navigation #secondary-menu {
    padding-top: 0;
}
#region-menu .navigation #secondary-menu li a {
    padding: 14px 16px;
}
/* Footer menu */
#region-footer-first .menu li {
	display: inline-block;
	padding: 0 26px;
}
#region-footer-first #block-menu-menu-footer-menu .menu {
    margin-top: 20px;
    padding: 20px;
}
#region-footer-first #block-menu-menu-footer-menu {
    margin-bottom: 0;
}
#region-footer-second .block-block-6 p {
    padding: 10px 0;
}
/** 
 * Recipes
**/
.context-recipes .view-taxonomy-term li.taxonomy-page-item,
.view-recommended-recipes li.taxonomy-page-item {
	border-bottom: none;
	margin:0;
	padding: 0 0 1em 0;
	width: 300px;
}
.context-recipes .view-taxonomy-term .field-name-title h2 a,
.view-recommended-recipes h2.field-title a,
.view-recommended-recipes .views-field-title h2 a {
	font-size: 16px;
	font-weight: bold;
}
.context-recipes .view-taxonomy-term .field-name-italian-title-linked-to-node a,
.view-recommended-recipes .views-field-field-recipe-italian-title a {
	font-size: 16px;
	font-weight: bold;
}
.view-recommended-recipes .views-field-field-recipe-italian-title {
	margin: 5px 0 2px;
	line-height: 1.2;
}
.page-recipes-fb-recipe-of-the-week .container-12 .grid-12 {
    width: 362px;
}
.node-type-recipe .group-left,
.node-type-recipe .group_recipe_left {
	float: left;
    width: 46%;
}
.node-type-recipe .group-right,
.node-type-recipe .group_recipe_right {
    float: right;
    width: 50%;
}
.group-footer,
.group-recipe-footer {
	clear: both;
}
.recipe-categories-links li a {
    padding-top: 340px;
    padding-bottom: 0;
    background: url("images/recipe-categories.png") no-repeat scroll -160px 0 #4C4C4C;
    margin-bottom: 0;
}

.recipe-categories-links li.recipe-category-Antipasti a {
    background: url("images/recipe-categories.png") no-repeat scroll 0 0 #4C4C4C;
}
.recipe-categories-links li.recipe-category-Carne a {
    background: url("images/recipe-categories.png") no-repeat scroll -320px 0 #4C4C4C;
}
.recipe-categories-links li.recipe-category-Pesce a {
    background: url("images/recipe-categories.png") no-repeat scroll -480px 0 #4C4C4C;
}
.recipe-categories-links li.recipe-category-Verdure a {
    background: url("images/recipe-categories.png") no-repeat scroll -640px 0 #4C4C4C;
}
.lt-ie8 .context-recipes .view-taxonomy-term li.taxonomy-page-item, 
.lt-ie8 .view-recommended-recipes li.taxonomy-page-item {
    float: left;
}
/** 
 * Blog
**/
.context-blog h2 {
    text-align: left;
}
.context-blog .sticky {
    position: fixed;
    top: 5px;
    left: 50%;
    margin-left: 190px;
}
.context-blog .region-sidebar-second {
    margin-top: 0;
}
.node-blog .links {
    display: block;
}
/** 
 * Products
**/
.node-type-product .group-product-info-boxout {
    border:2px solid silver;
    border-radius: 4px;
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding:4px 10px 10px;
    line-height: 1.3;
    margin-left: 65px;
    display: inline-block;
    float: left;
    width: 300px;
    margin-top: 15px;
}
.node-type-product .group-serving-suggestions {
    clear: both;
    padding-top: 20px;
}
.node-type-product .group-product-image {
    display: inline-block;
    float: left;
}
.region-content-inner ul.links {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
}
.region-content-inner  ul.links .service-links-pinterest-button a {
    margin: 40px 10px !important;
}