/* This file will hold the main styles for your website. */

/** 
 * HTML elements
**/

html { font-size:90%; /* 16px x 75% = 12px */ }
body {
	color: #000000;
	font-family:'CantarellRegular', Verdana, Geneva, "DejaVu Sans", sans-serif;
	line-height:1.5;
}
h1 {
	font-size:1.75em;
	margin:0 0 .5em;
	padding:0;
}
h1#page-title {
	border-bottom: 2px solid #CCC;
	margin-bottom: 0.5em;
	color: black;
	text-align:center;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: #666;
	text-decoration:none;
}
h2 {
	font-size:1.45em;
	color:black;
	text-align:center;
}
h3 { font-size:1.25em; }
h4 { font-size:1.1em; }
h5,
h6 { font-size:1em; }
img {
    border-radius: 4px;
}
p {
    margin: 0 0 1em;
    padding: 0;
}
a {
	text-decoration:none;
	color: #666;
}
a:link { text-decoration:none; }
a:visited { text-decoration:underline; }
a:hover {
	text-decoration:underline;
	color:#000;
}
a:active { }
a.active { }
/* Global focus style for links. */
a:active,
a:focus { }
/** 
 * Structural elements
**/
.page .region-content-inner ul.links {
    float: right;
    margin: -96px 0 0;
}
.page { }
.item-list .pager {
    clear: both;
    text-align: center;
}
ul.pager {
    border: none;
    background: none;
}
.pager li {
     border: none;
}
.item-list .pager li, .item-list .pager ul li {
     background-image: none;
    display: inline;
    list-style-type: none;
    padding: 0.5em;
    float: none;
}
.pager li.pager-next, .pager li.pager-last, .pager li.pager-next.last {
    border: none;
    position: static;
}
.pager li.pager-first a, .pager li.pager-previous a, .pager li.pager-next a, .pager li.pager-last a {
    width: auto;
}
.pager li a:hover {
    color: #000000;
}
.pager li a, .pager li.pager-current {
    background: none;
    color: #666666;
    font-family:'CantarellRegular', Verdana, Geneva, "DejaVu Sans", sans-serif;
    font-size: 14px;
    font-weight: 100;
}
.pager li.pager-current {
    color: #000000;
    background: none;
}

/* Zones */

#zone-header,
#zone-content,
#zone-footer {
	background: rgb(255,255,255); /* Old browsers */
	/*box-shadow: 0 35px 50px #A8A8A8;*/
}
#zone-header,
#zone-content { margin:0 1em; }
#zone-footer { margin:0 1em 6em; }
#zone-content,
#zone-footer { padding: 10px 6px; }
/* Regions */
#region-branding {
	margin-left:16px;
	z-index:1;
}
#region-header-first {
	margin-right:22px;
	position:absolute;
	top:10px;
	right:0;
}
#zone-header { padding-top: 1em; }
#region-menu {
	margin: 0;
	font-weight:bold;
	text-align:center;
}
#region-footer-second { padding-bottom: 1em; }

/** 
 * Header elements
**/

.social-links { 
    display: none; 
}

/** 
 * Navigation
**/

#region-menu .navigation { }
#region-menu .navigation a {
	color:#4C4C4C;
	display: inline-block;
	font-size: 1.1em;
	padding: 2px 20px;
	font-weight: bold;
}
#region-menu .navigation a:hover {
	font-weight:bold;
	text-decoration:none;
	color:black;
}
/* Main menu */
/* Class on the ul */
#region-menu .navigation #main-menu { 
    padding:0.6em 0; 
    margin-top: -130px;
}

/* Modify the margin to set tab spacings. */
#region-menu .navigation #main-menu li {
    display: block; 
    text-align: right;
}
.lt-ie9 #region-menu .navigation #main-menu li a { 
    width: auto;     
}
.lt-ie8 #region-menu .navigation #main-menu li {
    float: left;
}
#region-menu .navigation #main-menu li a {
     width: 100px;
}
@media all and (min-width: 461px) and (min-device-width: 461px), (max-device-width: 739px) and (min-width: 739px) and (orientation:landscape) {
#region-menu .navigation #main-menu li a { 
    width: auto;     
} 
}
 
/* Set pseudo class styles. */
#region-menu .navigation #main-menu li a:link { }
#region-menu .navigation #main-menu li a:visited { }
#region-menu .navigation #main-menu li a:hover {
	font-weight:bold;
	text-decoration:none;
	color:black;
}
#region-menu .navigation #main-menu li a:focus { }
#region-menu .navigation #main-menu li a:active { }
/* Primary first and last classes. */
#region-menu .navigation #main-menu li.first { }
#region-menu .navigation #main-menu li.last { }
/* Active trail classes. */
#region-menu .navigation #main-menu li.active { }
#region-menu .navigation #main-menu li.active-trail { }
#region-menu .navigation #main-menu li.active-trail a { }
/* Secondary menu */
/* Class on the ul */
#region-menu .navigation #secondary-menu {
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(200,200,200,1) 2%, rgba(255,255,255,1) 90%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(2%, rgba(200,200,200,1)), color-stop(90%, rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(200,200,200,1) 2%, rgba(255,255,255,1) 90%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(200,200,200,1) 2%, rgba(255,255,255,1) 90%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(200,200,200,1) 2%, rgba(255,255,255,1) 90%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E2E2E2', endColorstr='#ffffff', GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(255,255,255,1) 0%, rgba(200,200,200,1) 2%, rgba(255,255,255,1) 90%); /* W3C */
	padding-top: 0.8em;
	margin-bottom: 3em;
}
/* Modify the margin to set tab spacings. */
#region-menu .navigation #secondary-menu li { }
#region-menu .navigation #secondary-menu li a { }
/* Set pseudo class styles. */
#region-menu .navigation #secondary-menu li a:link { }
#region-menu .navigation #secondary-menu li a:visited { }
#region-menu .navigation #secondary-menu li a:hover { }
#region-menu .navigation #secondary-menu li a:focus { }
#region-menu .navigation #secondary-menu li a:active { }
/* Secondary first and last classes. */
#region-menu .navigation #secondary-menu li.first { }
#region-menu .navigation #secondary-menu li.last { }
/* Active trail classes. */
#region-menu .navigation #secondary-menu li.active { }
#region-menu .navigation #secondary-menu li.active-trail { }
#region-menu .navigation #secondary-menu li.active-trail a { }
/* Footer menus */
#region-footer-first #block-menu-menu-footer-menu {
	overflow:hidden;
	margin-bottom: 14px;
}
#region-footer-first #block-menu-menu-footer-menu .menu {
	font-size: 14px;
	z-index: 0;
	clear:left;
	list-style:none;
	margin:0;
	padding:0;
	text-align:center;
	border-top: 1px solid #C2C2C2;
}

/* Menu li styles */
#region-footer-first .menu li {
	list-style: none;
	display:block;
	list-style:none;
	margin:0;
	padding:0;
}
#region-footer-first .menu li.collapsed { }
#region-footer-first .menu li.expanded { }
#region-footer-first .menu li.leaf { }
#region-footer-first .menu li a {
	display: block;
	white-space: nowrap;
	font-size: 1em;
	padding: 4px 0;
	text-decoration: none;
	text-transform: uppercase;
	color:#4C4C4C;
	width: 100%;
}
#region-footer-first .menu li a:link,
#region-footer-first .menu li a:visited { }
#region-footer-first .menu li a:hover,
#region-footer-first .menu li a:focus,
#region-footer-first .menu li a:active {
	text-decoration:none;
	color:black;
}
#region-footer-first .menu li.active a { }
#region-footer-first .menu li.active-trail a { }
#region-footer-first .menu li.first { }
#region-footer-first .menu li.last { }
#region-footer-first .block .menu li.content { padding: 0; /* extra class can equal a standard class */ }
/** 
 * Forms
**/
form {
	margin:0 0 1.667em;
	padding:0;
}
input {
	margin:.375em 0;
}
input.title {
	font-size:1.5em;
}
input.form-submit, a.button {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #E4E4E4 #D2D2D2 #B4B4B4;
    border-radius: 20px 20px 20px 20px;
    border-style: solid;
    border-width: 1px;
    color: #000000;
    cursor: pointer;
    font-family: "Lucida Grande",Verdana,sans-serif;
    font-size: 1.077em;
    font-weight: normal;
    padding: 8px 17px;
    text-align: center;
}
a.button:link, a.button:visited, a.button:hover, a.button:active {
    color: #5A5A5A;
    text-decoration: none;
}
input.form-submit:active {
    background: none repeat scroll 0 0 #666666;
    border-color: #555555;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 #222222;
}
input.form-button-disabled, input.form-button-disabled:active {
    background: none repeat scroll 0 0 #EEEEEE;
    border-color: #EEEEEE;
    color: #999999;
    text-shadow: none;
}
input.text, input.title, textarea, select {
	border:1px solid silver;
	margin:.375em 0;
	border-radius: 4px;
	-khtml-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 4px;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.01);
   	font-size:1.2em;
	font-family:'CantarellRegular',Verdana,Geneva,"DejaVu Sans",sans-serif;
	background: url("images/form-bg.png") repeat-x scroll left top white;
}
textarea:disabled, input:not([type]):disabled, input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="password"]:disabled, input[type="number"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled {
	background: #DDD;
}
.form-text:focus, .form-checkbox:focus, .form-radio:focus, .form-select:focus {
	border:1px solid #000;
	background:#E8FFE2;
	background: url("images/form-bg-focus.png") repeat-x scroll left top white;
}
textarea:focus {
	border:1px solid #000;
	background:#FFF;
	background: url("images/form-bg-focus.png") repeat-x scroll left top white;
}
input.text, input.title {
	padding:.375em;
}
input.form-text, textarea {
	border:1px solid silver;
	border-radius: 4px;
	-khtml-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
    height: auto;
    padding: 4px;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.01);
    width: 98%;
}
textarea, input {
	font-size:1.25em;
	font-weight:normal;
	background: url("images/form-bg.png") repeat-x scroll left top white;
}
div.form-item {
	margin-bottom:.833em;
	margin-top:.833em;
}
.form-item textarea.error {
	padding:.1875em;
}
.form-item .description, fieldset .description, .fieldset-layout-settings dd {
	font-size:0.9em;
	line-height:1.667em;
}
span.form-required, span.marker {
	color:#8A1F11;
}
#article-admin-filter ul {
	padding:.375em 0;
}
#edit-operation-wrapper select {
	margin:.375em;
}
div.resizable-textarea textarea {
	margin-top:0;
}
.tips {
	font-size:1em;
	margin-left:3em;
	padding:.1875em .375em .1875em 1.5em;
}
fieldset {
	background: #DDD;
	border:1px solid #dadada;
	margin:1.5em 0;
	padding:1.4em;
	border-radius: 4px;
	-khtml-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
*:first-child+html fieldset {
	background-color:transparent;
	background-position:0 .75em;
	padding:0 1em .75em;
}
*:first-child+html fieldset > .description, *:first-child+html fieldset .fieldset-wrapper .description {
	padding-top:1.5em;
}
fieldset legend {
	display:block;
	font-weight:700;
	padding:0 1em 0 0;
	background: black;
	color: white;
	padding: 4px 8px;
	border-radius: 4px;
	-khtml-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
fieldset legend a, html.js fieldset.collapsible legend a {
	color:white
}
.form-textarea-wrapper {
	margin-top:8px;
}
/** 
 * Recipes
**/
.context-recipes .page .region-content-inner ul.links {
      display: none;
}
.context-recipes .view-taxonomy-term img,
.view-recommended-recipes img {
	border-radius: 4px;
	-khtml-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	outline:none;

}
.context-recipes  .view-taxonomy-term a:hover,
.view-recommended-recipes a:hover { text-decoration:none; }
.section-recipes .view-taxonomy-term .field-name-title h2 a,
.view-recommended-recipes h2.field-title a,
.view-recommended-recipes .views-field-title h2 a {
	font-size: 1.1em;
	font-weight: bold;
}
.context-recipes  .view-taxonomy-term .field-name-italian-title-linked-to-node a,
.view-recommended-recipes .views-field-field-recipe-italian-title a {
	font-size: 1.6em;
	font-weight: bold;
}
.context-recipes  .view-taxonomy-term .field-name-title h2 a,
.view-recommended-recipes h2.field-name-title a,
.view-recommended-recipes .views-field-title h2 a { color:#666; }
.context-recipes  .view-taxonomy-term .field-name-italian-title-linked-to-node { line-height:1.2; }
.view-recommended-recipes .views-field-title h2,
.context-recipes .view-taxonomy-term .field-name-title h2 {
	line-height:0.9;
	padding-bottom: 4px;
}
.context-recipes  .view-taxonomy-term ul.taxonomy-page-list,
.view-recommended-recipes ul.taxonomy-page-list {
	list-style:none;
	margin:0;
	text-align:center;
}
.context-recipes  .view-taxonomy-term ul.taxonomy-page-list .article { margin:0; }
.context-recipes  .view-taxonomy-term li.taxonomy-page-item,
.view-recommended-recipes li.taxonomy-page-item {
	color: #444;
	display: inline-block;
	list-style-type: none;
	margin: 0 0 1.2em;
	overflow: hidden;
	padding: 0 0 1em 0;
	text-align: center;
	vertical-align: top;
	width: 100%;
	/*border-bottom: 2px solid #CCC;*/
}
.view-recommended-recipes .views_slideshow_cycle_slide { text-align:center; }
.view-recommended-recipes .view-content { padding-top: 10px; }
.view-recommended-recipes .views-field-field-recipe-italian-title {
	margin: 8px 0 6px;
	line-height: 0.9;
}
/** 
 * Recipes Page
**/
/* Recipe categories menu */
.recipe-categories-menu {
    margin-top: 20px;
}
.recipe-categories-links {
}
/* Modify the margin to set tab spacings. */
.block ul.recipe-categories-links li {
    width:160px;
    margin:0 auto;

}
.lt-ie9 .block ul.recipe-categories-links li {
    float: left;
}
.lt-ie9 .block ul.recipe-categories-links {
    margin-left: 75px;
}
.recipe-categories-links li a {
    background: url("images/recipe-categories.png") no-repeat scroll -160px 30px #4C4C4C;
    color: #FFFFFF;
    font-size: 1.3em;
    font-weight: bold;
    height: 30px;
    padding-bottom: 100px;
    text-align: center;
    opacity: .9;
    -khtml-opacity: .9;  
    -moz-opacity: .9;  
    display: block;
    margin-bottom: 20px;
}
.recipe-categories-links li.recipe-category-Antipasti a {
    background: url("images/recipe-categories.png") no-repeat scroll 0 30px #4C4C4C;
}
.recipe-categories-links li.recipe-category-Carne a {
    background: url("images/recipe-categories.png") no-repeat scroll -320px 30px #4C4C4C;
}
.recipe-categories-links li.recipe-category-Pesce a {
    background: url("images/recipe-categories.png") no-repeat scroll -480px 30px #4C4C4C;
}
.recipe-categories-links li.recipe-category-Verdure a {
    background: url("images/recipe-categories.png") no-repeat scroll -640px 30px #4C4C4C;
}
/* Set pseudo class styles. */
.recipe-categories-links li a:link {
}
.recipe-categories-links li a:visited {
}
.recipe-categories-links li a:hover,
.recipe-categories-links li.recipe-category-Antipasti a:hover,
.recipe-categories-links li.recipe-category-Carne a:hover,
.recipe-categories-links li.recipe-category-Pesce a:hover,
.recipe-categories-links li.recipe-category-Verdure a:hover  {
    font-weight:bold;
    text-decoration:none;
    background-color:black;
    opacity:1;
    -khtml-opacity: 1;  
    -moz-opacity: 1;  
}
.recipe-categories-links li a:focus {
}
.recipe-categories-links li a:active {
}
/* Secondary first and last classes. */
.recipe-categories-links li.first {
}
.recipe-categories-links li.last {
}
/* Active trail classes. */
.recipe-categories-links li.active {
}
.recipe-categories-links li.active-trail {
}
.recipe-categories-links li.active-trail a {
}

/* Recipe page */
/*
.page-type-recipe {
}
.section-recipes {
}
.subsection-pesce {
} */

.node-type-recipe .field-name-title h1 {
    border-bottom: medium none;
    line-height: 1;
    margin-top: 14px;
}
.node-type-recipe .group-left {
    width: 100%;
}
.node-type-recipe .group-header {
    border-bottom: 2px solid #CCC;
    margin-bottom: 14px;
}
.node-type-recipe .group-left a {
    font-size:18px;
    font-weight:bold
}
.node-type-recipe .field-name-recipe-breadcrumb {
    font-size:1.75em;
    font-weight:bold;
}
.node-type-recipe .field-name-field-recipe-italian-title,
.node-type-recipe .field-name-field-recipe-italian-title div.field-item {
    font-size:1.33em;
    font-weight:bold;
    margin-bottom: -0.4em;
    line-height:1;
}
.node-type-recipe .field-name-field-recipe-ingredients {
    margin-top: 18px;
}
.node-type-recipe .field-name-field-recipe-ingredients .field-label,
.node-type-recipe .field-name-field-recipe-instructions .field-label {
    font-size: 23px;
    margin-bottom: 4px;
}
.node-type-recipe .field-name-field-recipe-ingredients .field-items {
    line-height: 1.3;
    font-size: 1.1em;
}
.node-type-recipe .field-name-field-recipe-instructions {
    margin-top: 18px;
}
.node-type-recipe .field-name-field-recipe-instructions {
    line-height: 1.3;
    font-size:1.1em;
}
.node-type-recipe .field-recipe-image {
    text-align:right;
}
.node-type-recipe .group-right {
    float: none;
    width: 100%;
}
.view-display-id-entity_view_1,
.view-display-id-entity_view_2 {
    padding-top: 14px;
}
.field-name-field-recipe-serves h2,
.field-name-field-recipe-preptime h2,
.field-name-field-recipe-cookingtime h2 {
    font-size:1em;
}
.fbFeedbackContent .composer {

}
/* Category specific colors */
.subsection-pesce .field-name-italian-title-linked-to-node a,
.subsection-pesce .field-name-field-recipe-italian-title,
.views-field-field-recipe-italian-title span.Pesce a,
.subsection-pesce .field-name-field-recipe-serves,
.subsection-pesce .field-name-field-recipe-preptime,
.subsection-pesce .field-name-field-recipe-cookingtime,
.subsection-pesce .field-name-field-recipe-serves .field-label,
.subsection-pesce .field-name-field-recipe-preptime .field-label,
.subsection-pesce .field-name-field-recipe-cookingtime .field-label,
.subsection-pesce .field-name-field-recipe-instructions .field-label,
.subsection-pesce .field-name-field-recipe-ingredients .field-label,
.subsection-pesce #page-title,
.subsection-pesce .view-recommended-recipes h2
 {
    color:#3570c7;
}
.subsection-antipasti .field-name-italian-title-linked-to-node a,
.subsection-antipasti .field-name-field-recipe-italian-title,
.views-field-field-recipe-italian-title span.Antipasti a,
.subsection-antipasti .field-name-field-recipe-italian-title,
.subsection-antipasti .field-name-field-recipe-serves,
.subsection-antipasti .field-name-field-recipe-preptime,
.subsection-antipasti .field-name-field-recipe-cookingtime,
.subsection-antipasti .field-name-field-recipe-serves .field-label,
.subsection-antipasti .field-name-field-recipe-preptime .field-label,
.subsection-antipasti .field-name-field-recipe-cookingtime .field-label,
.subsection-antipasti .field-name-field-recipe-instructions .field-label,
.subsection-antipasti .field-name-field-recipe-ingredients .field-label,
.subsection-antipasti .views-field-field-recipe-italian-title,
.subsection-antipasti .views-field-field-recipe-italian-title a,
.subsection-antipasti #page-title,
.subsection-antipasti .view-recommended-recipes h2
 {
    color:#808080;
}
.subsection-carne .field-name-italian-title-linked-to-node a,
.subsection-carne .field-name-field-recipe-italian-title,
.views-field-field-recipe-italian-title span.Carne a,
.subsection-carne .field-name-field-recipe-serves,
.subsection-carne .field-name-field-recipe-preptime,
.subsection-carne .field-name-field-recipe-cookingtime,
.subsection-carne .field-name-field-recipe-serves .field-label,
.subsection-carne .field-name-field-recipe-preptime .field-label,
.subsection-carne .field-name-field-recipe-cookingtime .field-label,
.subsection-carne .field-name-field-recipe-instructions .field-label,
.subsection-carne .field-name-field-recipe-ingredients .field-label,
.subsection-carne .views-field-field-recipe-italian-title,
.subsection-carne .views-field-field-recipe-italian-title a,
.subsection-carne #page-title,
.subsection-carne .recipe-category-page-italian-title a,
.subsection-carne .view-recommended-recipes h2
 {
    color:#800000;
}
.subsection-primi-piatti .field-name-italian-title-linked-to-node a,
.subsection-primi-piatti .field-name-field-recipe-italian-title,
.views-field-field-recipe-italian-title span.Primi-Piatti a,
.subsection-primi-piatti .field-name-field-recipe-serves,
.subsection-primi-piatti .field-name-field-recipe-preptime,
.subsection-primi-piatti .field-name-field-recipe-cookingtime,
.subsection-primi-piatti .field-name-field-recipe-serves .field-label,
.subsection-primi-piatti .field-name-field-recipe-preptime .field-label,
.subsection-primi-piatti .field-name-field-recipe-cookingtime .field-label,
.subsection-primi-piatti .field-name-field-recipe-instructions .field-label,
.subsection-primi-piatti .field-name-field-recipe-ingredients .field-label,
.subsection-primi-piatti #page-title,
.subsection-primi-piatti .view-recommended-recipes h2
 {
    color:#D96704;
}
.subsection-verdure .field-name-italian-title-linked-to-node a,
.subsection-verdure .field-name-field-recipe-italian-title,
.views-field-field-recipe-italian-title span.Verdure a,
.subsection-verdure .field-name-field-recipe-serves,
.subsection-verdure .field-name-field-recipe-preptime,
.subsection-verdure .field-name-field-recipe-cookingtime,
.subsection-verdure .field-name-field-recipe-serves .field-label,
.subsection-verdure .field-name-field-recipe-preptime .field-label,
.subsection-verdure .field-name-field-recipe-cookingtime .field-label,
.subsection-verdure .field-name-field-recipe-instructions .field-label,
.subsection-verdure .field-name-field-recipe-ingredients .field-label,
.subsection-verdure #page-title,
.subsection-verdure .view-recommended-recipes h2
 {
    color:#034d03;
}

/* Recipe category page - WHITE */

.context-recipes .view-taxonomy-term img.imagecache-recipe-category-page,
.view-recommended-recipes img.imagecache-recipe-category-page {
    border-radius: 4px;
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    outline:none;
}
.context-recipes .view-taxonomy-term a:hover,
.view-recommended-recipes a:hover {
    text-decoration:none;
}
.context .view-taxonomy-term .field-name-title h2 a,
.view-recommended-recipes h2.field-title a,
.view-recommended-recipes .views-field-title h2 a,
.context .view-taxonomy-term .field-name-italian-title-linked-to-node a,
.view-recommended-recipes .views-field-field-recipe-italian-title a {
    font-size: 16px;
    font-weight: bold;
}
.context-recipes .view-taxonomy-term .field-name-title h2 a,
.view-recommended-recipes h2.field-name-title a {
    color:#666;
}
.context-recipes .view-taxonomy-term .field-name-italian-title-linked-to-node {
    line-height:1.2;
}
.view-recommended-recipes .views-field-title h2,
.context-recipes .view-taxonomy-term .field-name-title h2 {
    line-height:0.9;
}
.context-recipes .view-taxonomy-term ul.taxonomy-page-list,
.view-recommended-recipes ul.taxonomy-page-list {
    list-style:none;
    margin:0;
    text-align:center;
}
.context-recipes .view-taxonomy-term ul.taxonomy-page-list .article {
    margin:0;
}
.context-recipes .view-taxonomy-term li.taxonomy-page-item,
.view-recommended-recipes li.taxonomy-page-item {
    color: #444;
    display: inline-block;
    list-style-type: none;
    margin: 0 1px 10px;
    overflow: hidden;
    padding: 0;
    text-align: center;
    vertical-align: top;
    width: 300px;
}
.view-recommended-recipes .views_slideshow_cycle_slide {
    text-align:center;
}
.view-recommended-recipes .view-content {
    padding-top: 10px;
}
.view-recommended-recipes .field-title,
.view-recommended-recipes .views-field-field-recipe-italian-title {
    line-height: 0.9;
}
/* Recipe category page - GREY */

.grey .article-type-recipe .group-middle {
    border-radius: 4px;
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background-color: #3C3C3C;
    float: left;
}
.grey .article-type-recipe .group-left {
    width: 43%;
}
.grey .article-type-recipe .group-left a {
    color: #AFAFAF;
}
.grey .article-type-recipe .group-left a:hover {
    color: #FFF;
}
.grey .article-type-recipe .group-left,
.grey .article-type-recipe .group-right {
    color:white;
    padding: 14px 14px 0 14px;
}
/* Category specific colors - GREY */

.subsection-pesce.grey .field-name-field-recipe-serves,
.subsection-pesce.grey .field-name-field-recipe-preptime,
.subsection-pesce.grey .field-name-field-recipe-cookingtime,
.subsection-pesce.grey .field-name-field-recipe-serves .field-label,
.subsection-pesce.grey .field-name-field-recipe-preptime .field-label,
.subsection-pesce.grey .field-name-field-recipe-cookingtime .field-label,
.subsection-pesce.grey .field-name-field-recipe-instructions .field-label,
.subsection-pesce.grey .field-name-field-recipe-ingredients .field-label,
.subsection-pesce.grey .field-name-field-recipe-italian-title {
    color:#2FB3F9;
}
.subsection-antipasti.grey .field-name-field-recipe-serves,
.subsection-antipasti.grey .field-name-field-recipe-preptime,
.subsection-antipasti.grey .field-name-field-recipe-cookingtime,
.subsection-antipasti.grey .field-name-field-recipe-serves .field-label,
.subsection-antipasti.grey .field-name-field-recipe-preptime .field-label,
.subsection-antipasti.grey .field-name-field-recipe-cookingtime .field-label,
.subsection-antipasti.grey .field-name-field-recipe-instructions .field-label,
.subsection-antipasti.grey .field-name-field-recipe-ingredients .field-label,
.subsection-antipasti.grey  .field-name-field-recipe-italian-title {
    color:#969696;
}
.subsection-carne.grey .field-name-field-recipe-serves,
.subsection-carne.grey .field-name-field-recipe-preptime,
.subsection-carne.grey .field-name-field-recipe-cookingtime,
.subsection-carne.grey .field-name-field-recipe-serves .field-label,
.subsection-carne.grey .field-name-field-recipe-preptime .field-label,
.subsection-carne.grey .field-name-field-recipe-cookingtime .field-label,
.subsection-carne.grey .field-name-field-recipe-instructions .field-label,
.subsection-carne.grey .field-name-field-recipe-ingredients .field-label,
.subsection-carne.grey .field-name-field-recipe-italian-title {
    color:#EA2C2C;
}
.subsection-primi-piatti.grey .field-name-field-recipe-serves,
.subsection-primi-piatti.grey .field-name-field-recipe-preptime,
.subsection-primi-piatti.grey .field-name-field-recipe-cookingtime,
.subsection-primi-piatti.grey .field-name-field-recipe-serves .field-label,
.subsection-primi-piatti.grey .field-name-field-recipe-preptime .field-label,
.subsection-primi-piatti.grey .field-name-field-recipe-cookingtime .field-label,
.subsection-primi-piatti.grey .field-name-field-recipe-instructions .field-label,
.subsection-primi-piatti.grey .field-name-field-recipe-ingredients .field-label,
.subsection-primi-piatti.grey .field-name-field-recipe-italian-title {
    color:#D96704;
}
.subsection-verdure.grey .field-name-field-recipe-serves,
.subsection-verdure.grey .field-name-field-recipe-preptime,
.subsection-verdure.grey .field-name-field-recipe-cookingtime,
.subsection-verdure.grey .field-name-field-recipe-serves .field-label,
.subsection-verdure.grey .field-name-field-recipe-preptime .field-label,
.subsection-verdure.grey .field-name-field-recipe-cookingtime .field-label,
.subsection-verdure.grey .field-name-field-recipe-instructions .field-label,
.subsection-verdure.grey .field-name-field-recipe-ingredients .field-label,
.subsection-verdure.grey .field-name-field-recipe-italian-title {
    color:#1A9E06;
}
.section-recipes .npb {
    display:none;   
}
.context-recipes .article ul.links {
    margin: -75px 0 0;
}
.view-latest-recipe {
    text-align:right;
}
.view-latest-recipe .views-field-field-recipe-image {
    float:right;
    margin-left: 24px;
}
.view-latest-recipe .views-field-title h2,
.view-latest-recipe .views-field-nothing h1 {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 20px;
    line-height: 1.2;
}
.view-latest-recipe .views-field-field-recipe-italian-title {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 5px;
    line-height: 1.2;
}
.view-latest-recipe .views-field-field-recipe-serves,
.view-latest-recipe .views-field-field-recipe-preptime,
.view-latest-recipe .views-field-field-recipe-cookingtime {
    color: #808080;
    font-size: 16px;
}
.view-latest-recipe .views-field-view-node {
    clear:none;
    text-align:right;
    margin-top:20px;
}

.view-latest-recipe .views-field-field-recipe-intro {
    margin-bottom:15px;
}

.field-name-field-recipe-intro {
    margin-bottom: 20px;
}
    
/* Facebook recipe of the week */
.page-recipes-fb-recipe-of-the-week #zone-content { 
	margin: 0 3em 6em;
	width: 385px;
}
.page-recipes-fb-recipe-of-the-week .container-12 .grid-12 {
    width: 362px;
}
.context-fb-become-dress-italian-blogger .container-12 .grid-12 form {
    width: 385px;
	margin-top:10px;
	margin-bottom:10px;
}
.page-recipes-fb-recipe-of-the-week .view-recommended-recipes li.taxonomy-page-item {
	border-bottom: none;
	margin:0;
	padding: 0 0 1em 0;
	width: 300px;
}
.page-recipes-fb-recipe-of-the-week .view-recommended-recipes h2.field-title a,
.page-recipes-fb-recipe-of-the-week .view-recommended-recipes .views-field-title h2 a {
	font-size: 0.8em;
	font-weight: bold;
}
.page-recipes-fb-recipe-of-the-week .view-recommended-recipes .views-field-field-recipe-italian-title {
	margin: 5px 0 2px;
	line-height: 1.2;
}
.page-recipes-fb-recipe-of-the-week .view-recommended-recipes .views-field-field-recipe-italian-title a {
	font-size: 1.2em;
	font-weight: bold;
}
/* Category specific colors */
.views-field-field-recipe-italian-title span.Pesce a { color:#3570c7; }
.views-field-field-recipe-italian-title span.Antipasti a { color:#808080; }
.views-field-field-recipe-italian-title span.Carne a { color:#800000; }
.views-field-field-recipe-italian-title span.Primi-Piatti a { color:#D96704; }
.views-field-field-recipe-italian-title span.Verdure a { color:#034d03; }
/** 
 * @font-face imports
**/

@font-face {
	font-family: 'CantarellRegular';
	src: url('fonts/Cantarell-Regular-webfont.eot');
	src: url('fonts/Cantarell-Regular-webfont.eot?#iefix') format('embedded-opentype'),  url('fonts/Cantarell-Regular-webfont.woff') format('woff'),  url('fonts/Cantarell-Regular-webfont.ttf') format('truetype'),  url('fonts/Cantarell-Regular-webfont.svg#CantarellRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'CantarellOblique';
	src: url('fonts/Cantarell-Oblique-webfont.eot');
	src: url('fonts/Cantarell-Oblique-webfont.eot?#iefix') format('embedded-opentype'),  url('fonts/Cantarell-Oblique-webfont.woff') format('woff'),  url('fonts/Cantarell-Oblique-webfont.ttf') format('truetype'),  url('fonts/Cantarell-Oblique-webfont.svg#CantarellOblique') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'CantarellBold';
	src: url('fonts/Cantarell-Bold-webfont.eot');
	src: url('fonts/Cantarell-Bold-webfont.eot?#iefix') format('embedded-opentype'),  url('fonts/Cantarell-Bold-webfont.woff') format('woff'),  url('fonts/Cantarell-Bold-webfont.ttf') format('truetype'),  url('fonts/Cantarell-Bold-webfont.svg#CantarellBold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'CantarellBoldOblique';
	src: url('fonts/Cantarell-BoldOblique-webfont.eot');
	src: url('fonts/Cantarell-BoldOblique-webfont.eot?#iefix') format('embedded-opentype'),  url('fonts/Cantarell-BoldOblique-webfont.woff') format('woff'),  url('fonts/Cantarell-BoldOblique-webfont.ttf') format('truetype'),  url('fonts/Cantarell-BoldOblique-webfont.svg#CantarellBoldOblique') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ShelleyAllegroScriptRegular';
	src: url('fonts/shelley-allegroscript-webfont.eot');
	src: url('fonts/shelley-allegroscript-webfont.eot?#iefix') format('embedded-opentype'),  url('fonts/shelley-allegroscript-webfont.woff') format('woff'),  url('fonts/shelley-allegroscript-webfont.ttf') format('truetype'),  url('fonts/shelley-allegroscript-webfont.svg#') format('svg');
	font-weight: normal;
	font-style: normal;
}
/** 
 * Blog
**/
.context-blog .region-sidebar-second {
    margin-top: 36px;
}
.region-sidebar-second .block h2 {
    background: -moz-linear-gradient(center top , #FFFFFF 0%, #C8C8C8 2%, #FFFFFF 100%) repeat scroll 0 0 transparent;
    margin: 0 -2px;
    text-align: center;
}
.region-sidebar-second .block {
    background: -moz-linear-gradient(center top , #FFFFFF 27%, #C6C6C6 68%, #212121 100%) repeat scroll 0 0 transparent;
    margin: 0 0 20px;
    padding: 0 3px 3px;
}
.region-sidebar-second  .block-inner {
    background-color: white;
    margin: 0;
}
.context-blog .region-sidebar-second .menu li a {
    padding: 7px 0;
    display: block;
    text-align:center;
    font-size: 1.1em;
    font-weight: bold;
}
.context-blog .region-sidebar-second .menu li a:hover {
    color:white;
    background-color:black;
    text-decoration:none;
}
.context-blog .region-sidebar-second .menu li {
    margin: 0;
    padding: 0;
}
.context-blog ul {
    list-style-type:none;
    margin: 0;
}
.context-blog ul li {
    list-style:none;
}
.context-blog .taxonomy-page-list li,
.blog-page-list li {
    border-bottom: 2px solid silver;
    padding: 10px 10px 14px 0;
}
.context-blog .block .item-list ul.blog-page-list li {
    margin-top:1em;
}
.context-blog .taxonomy-page-list li.views-row-last,
.blog-page-list li.views-row-last {
    border-bottom: none;
}
.context-blog .taxonomy-page-list li.views-row,
.blog-page-list li.views-row {
    padding: 0 10px 14px 0;
}
.context-blog .field-name-post-date {
    padding-bottom: 10px;
}
.more-link, .views-field-view-node, .field-name-node-link {
    font-weight:bold;
    text-align:left;
    clear:both;
}
.context-blog .region-sidebar-second .menu li.active-trail a {
    font-weight:bold;
}
.context-blog .region-sidebar-second .block h3 {
    font-size: 1em;
    color: #999;
}
.context-blog .region-sidebar-second .block p {
    font-size: 0.86em;
    color:#000000;
}
.context-blog .region-sidebar-second .view-content ul {
    padding: 0.1em;
    margin:8px 0 0 0;
}
.node-type-blog .node-blog .field-links {
    position: absolute;
    right: -245px;
    top: -92px;
}
.field-links .links li.comment_forbidden  {
    display: inline-block;
    padding: 3em 1em 0 0;
}
.node-blog .links {
    display: none;
}
