/** 
 * $Id: page.css,v 1.1.2.1 2010/09/14 20:13:12 jmburnz Exp $
 */
html {
	background: url(images/christmas.jpg) no-repeat center center fixed #ffffff;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.container {
	margin-top:20px;
}
#logo {
	position: absolute;
	width: 110px;
}
#logo img {
	border-radius: 0;
	-khtml-border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}
#site-name {
	font-size: 2em;
	font-weight: 700;
	height: 0;
	line-height: 1.5;
	overflow: hidden;
}
#site-name a:link {
}
#site-name a:visited {
}
#site-name a:hover {
}
#site-name a:focus {
}
#site-name a:active {
}
.region-header {
	height: 34px;
	left: 134px;
	overflow: hidden;
	position: relative;
	width: 816px;
}
#columns {
}
#mission {
	font-weight: 700;
	margin: .3em 0 1.5em;
}
h1#page-title {
	border-bottom: 2px solid #CCCCCC;
	margin-bottom: 20px;
	color:black;
}
.page-type-page h1#page-title {
	color:#004101;
}
.in-maintenance h1#page-title {
	padding:10px;
}
.field-title h1 {
	border-bottom: 2px solid #CCCCCC;
	margin-bottom: 20px;
}
.page-section-title {
	color:white;
	border-radius: 4px;
	-khtml-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding:4px;
	text-align:center;
	margin-bottom:10px;
}
.page-section-title-green {
	background-color:#004101;
}
.page-section-title-red {
	background-color:#7E0001;
}
.page-section-title-white {
	background-color:white;
	color:black;
	border:1px solid #ccc;
}
/* Sidebars */
.sidebar {
}
#sidebar-first {
}
#sidebar-last {
}
/* Footer */
.region-footer {
	border-top: 1px solid #C2C2C2;
	margin-top: 2em;
	padding-top:1em;
}
.region-footer a {
}
.region-footer-message {
}
.region-footer-message a {
}
#block-block-6 {
    margin-top: 3em;
}
/* Feed icons */
.feed-icon img {
	padding:0 10px;
}
#feed-icons {
}
#feed-icons .feed-icon {
}
#feed-icons .feed-icon img {
}
#feed-icons a.feed-icon {
}
/* Search */
#search-block-form {
}
/* Wrapper DIVs. */
#search-block-form > div {
}
#search-block-form .container-inline {
}
#edit-search-block-form-1-wrapper {
}
#search-block-form label {
}
#search-block-form input {
}
#search-block-form .form-submit {
}
#search-block-form .form-text {
}
#edit-search-block-form-1:hover, #edit-search-block-form-1:focus {
}
/* Search box */
#search-box {
	float: right;
	width: 300px;
}
#search-theme-form {
	float: right;
	margin: 1.5em 0;
}
#search-theme-form > div {
}
#search-theme-form #search {
}
#edit-search-theme-form-1-wrapper {
}
#search-theme-form label {
}
#search-theme-form input {
}
#search-theme-form .form-text {
}
#search-theme-form .form-submit {
}
/* Advanced search form */
#search-form {
}
#search-form > div {
}
#search-form .container-inline {
}
#search-form #edit-keys-wrapper {
}
#search-form label {
}
#search-form input {
}
#search-form .form-item {
}
#search-form .form-submit {
}
/* Textfield styles. */
#search-form #edit-keys-wrapper input {
}
#search-form #edit-keys-wrapper input:hover, #search-form #edit-keys-wrapper input:focus {
}
/* Advanced search fieldset. */
#search-form fieldset.search-advanced {
}
/* Box styles for the results page. */
.section-search .box {
}
.section-search .box-inner {
}
.section-search .box-title {
}
/* Style the no results messages. */
.section-search .box ul {
}
.section-search .box ul li {
}
/* Search results document list. */
dl.search-results {
}
dl.search-results dt {
}
dl.search-results dd {
}
dl.search-results dd p {
}
dl.search-results dd .search-snippet {
}
dl.search-results dd .search-info {
}
span.search-info-type {
}
span.search-info-user {
}
span.search-info-date {
}
span.search-info-comment {
}
span.search-info-upload {
}
/* Gpanel Regions */
.gpanel {
}
.gpanel .region {
}
.gpanel .region .inner {
}
.gpanel .first .inner {
}
.gpanel .last .inner {
}
/* 2 column */
.two-col-2x50 {
}
.two-col-2x50 .region {
}
.two-col-2x50 .region .inner {
}
.two-col-2x50 .col-1 {
}
.two-col-2x50 .col-2 {
}
.two-col-2x50 .col-1 .inner {
}
.two-col-2x50 .col-2 .inner {
}
.two-col-33-66 {
}
.two-col-33-66 .region {
}
.two-col-33-66 .region .inner {
}
.two-col-33-66 .col-1 {
}
.two-col-33-66 .col-2 {
}
.two-col-33-66 .col-1 .inner {
}
.two-col-33-66 .col-2 .inner {
}
.two-col-66-33 {
}
.two-col-66-33 .region {
}
.two-col-66-33 .region .inner {
}
.two-col-66-33 .col-1 {
}
.two-col-66-33 .col-2 {
}
.two-col-66-33 .col-1 .inner {
}
.two-col-66-33 .col-2 .inner {
}
/* 3 column */
.three-col-3x33 {
}
.three-col-3x33 .region {
}
.three-col-3x33 .region .inner {
}
.three-col-3x33 .col-1 {
}
.three-col-3x33 .col-2 {
}
.three-col-3x33 .col-3 {
}
.three-col-3x33 .col-1 .inner {
}
.three-col-3x33 .col-2 .inner {
}
.three-col-3x33 .col-3 .inner {
}
.three-col-25-25-50 {
}
.three-col-25-25-50 .region {
}
.three-col-25-25-50 .region .inner {
}
.three-col-25-25-50 .col-1 {
}
.three-col-25-25-50 .col-2 {
}
.three-col-25-25-50 .col-3 {
}
.three-col-25-25-50 .col-1 .inner {
}
.three-col-25-25-50 .col-2 .inner {
}
.three-col-25-25-50 .col-3 .inner {
}
.three-col-50-25-25 {
}
.three-col-50-25-25 .region {
}
.three-col-50-25-25 .region .inner {
}
.three-col-50-25-25 .col-1 {
}
.three-col-50-25-25 .col-2 {
}
.three-col-50-25-25 .col-3 {
}
.three-col-50-25-25 .col-1 .inner {
}
.three-col-50-25-25 .col-2 .inner {
}
.three-col-50-25-25 .col-3 .inner {
}
/* 4 column */
.four-col-4x25 {
}
.four-col-4x25 .region {
}
.four-col-4x25 .region .inner {
}
.four-col-4x25 .section-1 {
}
.four-col-4x25 .section-2 {
}
.four-col-4x25 .col-1 {
}
.four-col-4x25 .col-2 {
}
.four-col-4x25 .col-3 {
}
.four-col-4x25 .col-4 {
}
.four-col-4x25 .col-1 .inner {
}
.four-col-4x25 .col-2 .inner {
}
.four-col-4x25 .col-3 .inner {
}
.four-col-4x25 .col-4 .inner {
}
/* 5 column */
.five-col-5x20 {
}
.five-col-5x20 .region {
}
.five-col-5x20 .region .inner {
}
.five-col-5x20 .col-1 {
}
.five-col-5x20 .col-2 {
}
.five-col-5x20 .col-3 {
}
.five-col-5x20 .col-4 {
}
.five-col-5x20 .col-5 {
}
.five-col-5x20 .col-1 .inner {
}
.five-col-5x20 .col-2 .inner {
}
.five-col-5x20 .col-3 .inner {
}
.five-col-5x20 .col-4 .inner {
}
.five-col-5x20 .col-5 .inner {
}
/* 6 column */
.six-col-6x16 {
}
.six-col-6x16 .region {
}
.six-col-6x16 .region .inner {
}
.six-col-6x16 .col-1 {
}
.six-col-6x16 .col-2 {
}
.six-col-6x16 .col-3 {
}
.six-col-6x16 .col-4 {
}
.six-col-6x16 .col-5 {
}
.six-col-6x16 .col-6 {
}
.six-col-6x16 .col-1 .inner {
}
.six-col-6x16 .col-2 .inner {
}
.six-col-6x16 .col-3 .inner {
}
.six-col-6x16 .col-4 .inner {
}
.six-col-6x16 .col-5 .inner {
}
.six-col-6x16 .col-6 .inner {
}
/* AT Panels */
.panel-col {
}
.panel-col .inside {
}
.panel-pane {
}
.sixcol-6x16 {
}
.fivecol-5x20 {
}
.fourcol-4x25 {
}
.threecol-at-25-25-50 {
}
.threecol-at-50-25-25 {
}
.twocol-at-33-66 {
}
.twocol-at-66-33 {
}
.threecol-at-stacked-inset {
}
.twocol-at-stacked-inset {
}
/* Button Wrappers */
span.button-wrapper {
	border: 1px solid #BBB;
	padding: 6px;
	border-radius: 4px;
	-khtml-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background: white;
}
span.button-wrapper:hover {
	border: 1px solid #000;
	background: url("../images/form-bg.png") repeat-x scroll left top white;
} /* Outer wrapper */
span.button {
} /* Inner wrapper */
/* backgrounds */
div.container {
	background: rgb(255,255,255); /* Old browsers */
	/*box-shadow: 0 0 50px #A8A8A8;
	  -webkit-box-shadow: 5px 5px 5px #888888;
   -khtml-box-shadow: 0 0 50px #A8A8A8;
    -icab-box-shadow: 0 0 50px #A8A8A8;
     -moz-box-shadow: 0 0 50px #A8A8A8;
       -o-box-shadow: 0 0 50px #A8A8A8;*/
		  padding: 15px 20px;
}
.boxout {
	color:white;
	border-radius: 4px;
	-khtml-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	text-align:center;
	margin-bottom:10px;
	display:block;
	padding: 8px;
}
.boxout a {
	color:white;
}
a:hover.boxout {
	border-color:black;
	background-color:#000000;
	color:white;
	text-decoration:none;
}
.boxout-green {
	background-color:#004101;
}
a.boxout-grey {
	background-color:#4C4C4C;
	color:white;
	border:1px solid #black;
}
.boxout-black {
	background-color:black;
	color:white;
	border:1px solid #ccc;
}
.boxout-white {
	background-color:white;
	color:black;
	border:1px solid #ccc;
}
.boxout-white a {
	color:black;
}
.boxout-red {
	background-color:#7E0001;
}
.asideleft {
	width:500px;
}
.asideright {
	width:500px;
}
/* Social links: Page */
.page-type-product .field-links {
	position: absolute;
	right: 0;
	top: -95px;
}
ul.links .service-links-pinterest-button a {
    margin-top: -21px !important;
}
.field-links {
	position: absolute;
	right: 0;
	top: -34px;
}
.field-links .links li {
	padding:0;
}
.google_plusone .g-plusone-wrapper {
	margin: 0.12em 0.75em 1em 0.7em !important;
}
.links .print_html a img {
	padding-left:50px;
	outline:none;
}
.links .print_html {
	float:right;
	padding:0;
}
.links .print_html a {
	background: url("../images/print-icon.png") no-repeat scroll left top white;
	display: inline-block;
	width: 50px;
	height: 47px;
	overflow:hidden;
	margin-top: 15px;
}
.links .print_html a:hover {
	background: url("../images/print-icon.png") no-repeat scroll -50px top white;
}
.no-grid-style ul {
	list-style:none;
}
.no-grid-style li {
	border:none;
	background:none;
}
.node-type-webform .nd-sidebar-right .nd-region-middle {
	margin-right: 52%;
}
.node-type-webform .nd-region-right {
	width: 50%;
}
.main-content-tabs {
	margin-bottom: 42px;
}
#sidebar-last {
	width: 230px;
}
.view-frontpage .views_slideshow_singleframe_slide {
	width:940px;
}
.front .columns-inner {
	margin-top: -34px;
}
.view-frontpage h2 {
	font-size: 2em;
	margin-bottom: 1em;
}
/* Front page footer boxes */

.front .block-mailchimp-lists {
	border: 2px solid white;
	border-radius: 4px 4px 4px 4px;
	line-height: 1.3;
	padding: 4px 10px 0;
	margin:0 10px;
}
.front .block-mailchimp-lists h2 {
	text-align:center;
}
.front #block-views-recommended-recipes-block-1 {
	margin:0;
}
.front #block-block-4 {
	background-color: black;
	padding: 6px 10px;
	color: white;
	border-radius: 8px;
	margin:0 10px;
}
.front #block-block-4 a:hover {
	color: #ED1B24;
}
/* Front page slideshow */

.view-frontpage .views-slideshow-controls-text-previous a, .view-frontpage .views-slideshow-controls-text-next a {
	background-image:url(../images/arrow.png);
	display: block;
	overflow: hidden;
	width: 60px;
	height: 60px;
	text-indent: -10000px;
	position: absolute;
	z-index: 10;
	top: 314px;
}
.view-frontpage .views-slideshow-controls-text-previous a {
	background-position: 0 0;
	left: 40px;
}
.view-frontpage .views-slideshow-controls-text-previous a:hover {
	background-position: 0 60px;
}
.view-frontpage .views-slideshow-controls-text-next a {
	background-position: 60px 0;
	right: 54px;
}
.view-frontpage .views-slideshow-controls-text-next a:hover {
	background-position: 60px 60px;
}
.view-frontpage .views-slideshow-controls-text-pause {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
}
.views_slideshow_cycle_slide {
	width: 100% !important;
	text-align:center;
}
.chev {
	color:black;
}
img {
	border-radius: 4px;
	-khtml-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
hgroup {
	height:0;
}
.fb-social-comments-plugin {
	margin-top: 2em;
}
.flexslider ul.slides li img {
    margin: 0 auto;
}
.flex-direction-nav li a {
    background: url(../images/bg_direction_nav.png) no-repeat 0 0;
    width: 60px;
    height: 60px;
}
.flex-direction-nav li .next {
    background-position: -60px 0;   
}
.flex-control-nav li a {
    background: url(../images/bg_control_nav.png) no-repeat 0 0;
}
.flex-direction-nav li .next:hover {
background-position: -60px -60px;
}
.flex-direction-nav li .prev:hover {
background-position: 0 -60px;
}
 /*
 * IE6/7
 */
.ie6-7 .view-recommended-recipes li.taxonomy-page-item {
    float: left;
	padding-bottom:10px;
}
.ie6-7 .views-slideshow-pager-field-item {
    float: left;
}
.ie6-7 .section-recipes .view-taxonomy-term li.taxonomy-page-item {
    float: left;
}
.ie6-7 .section-recipes .view-taxonomy-term li.taxonomy-page-item .article-type-recipe {
	padding-bottom:20px;
}
.ie6-7 .page-type-recipe .view-recommended-recipes li.taxonomy-page-item .article-type-recipe{
	padding-bottom:20px;
}
.ie6-7 .view-recommended-recipes li.taxonomy-page-item .article-type-recipe {
	padding-bottom:20px;
}
.ie6-7 .links li {
	float:right;
}
.ie6-7 .view-photo-album li.views-row {
	float:left;
}
 /*
 * IE6-8
 */
 
/*.ie6-8 div.container {
	background: url("images/bggradient.png") repeat-y;
	padding-left:50px;
	padding-right:50px;
}*/
.ie6-8 #secondary-menu-bar {
	margin-left: -17px;
	width:842px;
}
.ie6-8 img {
	max-width:auto;
}
.front div.messages {
    margin: -20px 10px 60px;
}
