/* Press */

.views-slideshow-pager-field-item {
	display: inline-block;
	padding: 5px 5px 25px;
	float:left;
}
.views-slideshow-pager-field-item img {
	box-shadow: 5px 5px 5px #888888;
  	-webkit-box-shadow: 5px 5px 5px #888888;
	-moz-box-shadow: 5px 5px 5px #888888;
	border: none;
}

.imagecache-press_page {
	padding: 2px;
}

#views_slideshow_thumbnailhover_main_press-page {
	width: 940px;
}

#views_slideshow_thumbnailhover_teaser_section_press-page {
	  margin: 0 auto;
}
#cboxLoadedContent{
}
#cboxTitle,
#cboxCurrent,
#cboxNext,
#cboxPrevious,
#cboxClose
{
	font-size: 1.4em;
}
#cboxCurrent {
	margin-left: 40px;
}
.cboxPhoto {
	margin-bottom: 10px;
}