/* CSS Document */
/*
.section-products {
}
*/
.page-type-product .group-left {
	width: 29%;
}
.page-type-product .group-middle {
	width: 35%;
}
.page-type-product .group-right {
	width: 33%;
}
.section-products .field-title h1 {
	color:#7D0000;
}
.section-products .field-name-body h2 {
	color:#7D0000;
}
.section-products .field-name-body a {
	color:#7D0000;
}
.page-type-product .group-product-info-boxout {
	border:2px solid silver;
	border-radius: 4px;
	-khtml-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding:4px 10px 10px;
	line-height: 1.3;
	margin-left: 24px;
}
.group-product-info-boxout .field-label,
.field-name-field-product-storage .field-label,
.field-name-field-product-serving .field-label,
.page-type-product .view-recommended-recipes h2 {
	color: #540E16;
	font-size: 1.5em;
	margin-bottom: 4px;
}
.page-type-product .field-name-field-product-nutritionalinfo .field-items, .page-type-product .field-product-ingredients .field-label {
	line-height: 1.3;
}
.page-type-product .field-name-field-product-nutritionalinfo {
	margin-top: 18px;
}
.subsection-pasta-sauces .field-name-body .field-label,
.subsection-pasta-sauces #page-title {
	color:#540E16;
}
.page-section-title-8 {
	background-color:#7E0001;
}
.page-section-title-9 {
	background-color:#004101;
}
.page-section-title-16 {
	background: black;
	color:white;
}
.page-section-title-10 {
	background-color:white;
	color:black;
	border:1px solid #ccc;
}
.section-products .view-product-categories {
	margin-top: 26px;
}
.section-products .view-product-categories .item-list p {
	float: left;
	margin-top: 16px;
	width: 335px;
}
.section-products .view-product-categories .item-list li {
	display: inline-block;
}
.ie6-8 .section-products .view-product-categories .item-list li {
	float:left;
}
.ie6-8 .section-products .view-product-categories .item-list h2 {
	clear:left;
}
.section-products .field-name-field-product-buy-on {
	margin-top: -6px;
	text-align: center;
}
.section-products .views-field-field-product-image {
	text-align:center;
}
.section-products .field-name-field-product-buy-on a {
	/*background: url(../images/asda-logo.gif) no-repeat 0 0 transparent;
	text-indent: -10000px;
	overflow: hidden;
	width: 120px;
	display: inline-block;
	height: 40px;*/
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #E4E4E4 #D2D2D2 #B4B4B4;
    border-radius: 20px 20px 20px 20px;
    border-style: solid;
    border-width: 1px;
    color: #000000;
    cursor: pointer;
    font-size: 1.4em;
    font-weight: normal;
    padding: 8px 40px;
    text-align: center;
	-webkit-box-shadow: 1px 1px 6px 0px #B4B4B4;
	-moz-box-shadow: 1px 1px 6px 0px #B4B4B4;
	box-shadow: 1px 1px 6px 0px #B4B4B4;
	background: #c8c8c8; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M4YzhjOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #c8c8c8 0%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c8c8c8), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #c8c8c8 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #c8c8c8 0%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #c8c8c8 0%,#ffffff 100%); /* IE10+ */
background: linear-gradient(top,  #c8c8c8 0%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8c8c8', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */

}
.section-products .views-field-field-product-buy-on a {
	display:block;
    font-size: 1.2em;
	margin-bottom:16px;
    padding: 5px 35px;
	-webkit-box-shadow: 1px 2px 2px 0px #B4B4B4;
	-moz-box-shadow: 1px 2px 2px 0px #B4B4B4;
	box-shadow: 1px 2px 2px 0px #B4B4B4;
	background: #c8c8c8; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M4YzhjOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #c8c8c8 0%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c8c8c8), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #c8c8c8 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #c8c8c8 0%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #c8c8c8 0%,#ffffff 100%); /* IE10+ */
background: linear-gradient(top,  #c8c8c8 0%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8c8c8', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
}
.views-fluid-grid {
	clear:both;
}
.views-fluid-grid h2 {
	clear:both;
}
.section-products .article {
	margin:0;
}