/* This file will hold styles that are loaded using the same media query as the normal grid. */
#region-menu .navigation #secondary-menu {
	width: 854px;
	margin-left: -170px;
	padding-left: 146px;
}
#region-menu {
	margin-left: 0;
}
#region-menu .navigation a {
	font-size: 1.1em;
}
#region-menu .navigation #main-menu li a {
	padding: 12px 20px;
}
#region-menu .navigation #secondary-menu li a {
	padding: 6px 24px;
}
.page-recipes-fb-recipe-of-the-week .container-12 .grid-12 {
    width: 362px;
}
.block ul.recipe-categories-links li {
    width: 160px;
}