/** 
 * $Id: forms.css,v 1.1.2.1 2010/09/14 20:13:12 jmburnz Exp $
 */

/* Forms */
form {
	margin:0 0 1.667em;
	padding:0;
}
input {
	margin:.375em 0;
}
input.title {
	font-size:1.5em;
}
input.text, input.title, textarea, select {
	border:1px solid silver;
	margin:.375em 0;
	border-radius: 4px;
	-khtml-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 4px;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.01);
   	font-size:1.2em;
	font-family:'CantarellRegular',Verdana,Geneva,"DejaVu Sans",sans-serif;
	background: url("../images/form-bg.png") repeat-x scroll left top white;
}
textarea:disabled, input:not([type]):disabled, input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="password"]:disabled, input[type="number"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled {
	background: #DDD;
}
.form-text:focus, .form-checkbox:focus, .form-radio:focus, .form-select:focus {
	border:1px solid #000;
	background:#E8FFE2;
	background: url("../images/form-bg-focus.png") repeat-x scroll left top white;
}
textarea:focus {
	border:1px solid #000;
	background:#FFF;
	background: url("../images/form-bg-focus.png") repeat-x scroll left top white;
}
input.text, input.title {
	padding:.375em;
}
input.form-text, textarea {
	border:1px solid silver;
	border-radius: 4px;
	-khtml-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
    height: auto;
    padding: 4px;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.01);
    width: 98%;
}
textarea, input {
	font-size:1.25em;
	font-weight:normal;
	background: url("../images/form-bg.png") repeat-x scroll left top white;
}
div.form-item {
	margin-bottom:.833em;
	margin-top:.833em;
}
.form-item textarea.error {
	padding:.1875em;
}
.form-item .description, fieldset .description, .fieldset-layout-settings dd {
	font-size:0.9em;
	line-height:1.667em;
}
span.form-required, span.marker {
	color:#8A1F11;
}
#article-admin-filter ul {
	padding:.375em 0;
}
#edit-operation-wrapper select {
	margin:.375em;
}
div.resizable-textarea textarea {
	margin-top:0;
}
.tips {
	font-size:1em;
	margin-left:3em;
	padding:.1875em .375em .1875em 1.5em;
}
fieldset {
	background: #DDD;
	border:1px solid #dadada;
	margin:1.5em 0;
	padding:1.4em;
	border-radius: 4px;
	-khtml-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
*:first-child+html fieldset {
	background-color:transparent;
	background-position:0 .75em;
	padding:0 1em .75em;
}
*:first-child+html fieldset > .description, *:first-child+html fieldset .fieldset-wrapper .description {
	padding-top:1.5em;
}
fieldset legend {
	display:block;
	font-weight:700;
	padding:0 1em 0 0;
	background: black;
	color: white;
	padding: 4px 8px;
	border-radius: 4px;
	-khtml-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
fieldset legend a, html.js fieldset.collapsible legend a {
	color:white
}
html.js fieldset.collapsible legend a {
background: url(../images/menu-expanded.png) 2px 50% no-repeat;
}
html.js fieldset.collapsed legend a {
background-image: url(../images/menu-collapsed.png);
}
html.js input.form-autocomplete {
background-position: 100% 18px;
}
*:first-child+html fieldset legend, *:first-child+html fieldset.collapsed legend {
	display:inline;
}
html.js fieldset.collapsed {
	background:transparent;
	padding-top:.25em;
}
#user-login-form ul {
	margin:0;
	padding:0;
}
#user-login-form li.openid-link, #user-login-form li.user-link {
	text-align:center;
}
#user-login ul {
	margin:0 0 5px;
}
#user-login ul li {
	margin:0;
}
#user-login-form .item-list li {
	list-style:none;
	margin:0;
}
#user-login-form li.openid-link, #user-login li.openid-link {
	background:none;
}
.hide-label label {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}
html.js #user-login-form li.openid-link, html.js #user-login li.openid-link, #user-admin-filter ul li, #article-admin-filter ul li {
	list-style:none;
}
#node-form .vertical-tabs, #node-form .vertical-tabs-list, #node-form .vertical-tabs-list li {
	border-color:#DADADA !important;
}
.vertical-tabs input.form-text {
	width:95%;
}
.description {
	color:#555;
}
.fieldset-advanced-theme-settings .description em {
	font-weight:700;
}
.webform-component-textarea {
	width:103%;
}

/* Individual field */

.button input {
	border: none;
	background: none;
	cursor: pointer;
}
/* Create Recipe form */
#edit-field-recipe-preptime-0-value-wrapper .form-text, #edit-field-recipe-cookingtime-0-value-wrapper .form-text, #edit-field-recipe-serves-0-value-wrapper .form-text {
	width: 50px;
	text-align: center;
	display:inline;
}
.content-add-more {
	margin-top:10px;
}
#edit-field-recipe-image-0-upload-wrapper {
	width: 600px;
}
/* Individual form css */

/* Contact us form */
#company-address {
}
.webform-client-form {
	background: none repeat scroll 0 0 #EEEEEE;	
	border-radius: 4px;
	-khtml-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
    padding: 11px 30px 26px 24px;
}
