/* CSS Document */

/* General elements */

#header-region .block {
	margin:0;
	padding:0;
}

#header-region #block-block-1 {
	position: absolute;
    right: 150px;
}

#header-region #block-fb_connect-login_dress_italian {
	position: absolute;
    right: 0;
    top: 0;
}

/* Social links */

.social-links {
	height:20px;
	margin-top: 2px;
}
.social-links a {
	display: inline-block;
    height: 20px;
    width: 20px;
	margin-right: 6px;
	opacity: .8;
}
.social-links a:hover {
	opacity: 1;
}
.social-links a span {
    display: block;
    height: 0;
    overflow: hidden;
}