/* CSS Document */

/* General elements */

.region-header .block {
	margin:0;
	padding:0;
}

.region-header #block-block-1 {
	float: right;
}

.region-header #block-fb_connect-login_dress_italian {
	position: absolute;
    right: 0;
    top: 0;
}

/* Social links */

.social-links {
	font-size:1.1em;
	height:20px;
	margin-top: 2px;
}
.social-links a {
	display: inline-block;
    height: 20px;
	margin-right: 6px;
	opacity: .8;
	width: 20px;
}
.social-links a:hover {
	opacity: 1;
	text-decoration:none;
}
.social-links a span {
    display: block;
    height: 0;
    overflow: hidden;
}