 /*
 * IE6/7
 */
html.ie6-7 .view-recommended-recipes li.taxonomy-page-item {
    float: right;
	padding-bottom:10px;
}
html.ie6-7 .views-slideshow-pager-field-item {
    float: right;
}
html.ie6-7 .section-recipes .view-taxonomy-term li.taxonomy-page-item {
    float: right;
}
html.ie6-7 .page-type-recipe .view-recommended-recipes li.taxonomy-page-item {
	padding-bottom:10px;
}

 /*
 * IE6-8
 */
 
html.ie6-8 div.container {
	background: url("bggradient.png") repeat-y; 
}
html.ie6-8 #secondary-menu {
	margin-left: -17px;
}