/* CSS Document */

.section-regions-of-italy .view-regions-of-italy {
	width:620px;
}
.section-regions-of-italy .view-regions-of-italy .popup-content, .section-regions-of-italy .view-regions-of-italy .popup-pager {
	display:none;
}
.openlayers-popupbox, .openlayers-tooltip {
position: relative;
left: 650px;
top: -320px;