/** 
 * $Id: navigation.css,v 1.1.2.1 2010/09/14 20:13:12 jmburnz Exp $
 */

a {
	text-decoration:none;
	color: #666;
}
a:link {
	text-decoration:none;
}
a:visited {
	text-decoration:underline;
}
a:hover {
	text-decoration:underline;
}
a:active {
}
a.active {
}
/* Global focus style for links. */
a:active, a:focus {
}
/* Primary and Secondary menus. */
.nav {
	clear:both;
	margin: 0;
}
.nav li, .nav .menu li {
	display: inline;
	float: left;
	list-style: none;
}
.nav li a, .nav .menu li a {
	display: block;
	white-space: nowrap;
	padding: 0 10px;
}
.nav ul, .nav ul.menu, .nav ul.menu li {
	margin: 0;
	padding: 0;
}
/* Primary-links div wrapper */
#primary-menu {
	padding-left: 140px;
}
/* Class on the ul */
.primary-links {
	text-align: center;
}
/* Modify the margin to set tab spacings. */
.primary-links li {
	width: 140px;
}
.primary-links li.menu-401 {
	width: 220px;
}
.primary-links li a {
	color:#7D7D7D;
	font-size: 1.1em;
	padding: 6px 20px;
	font-weight: bold;
}
/* Set pseudo class styles. */
.primary-links li a:link {
}
.primary-links li a:visited {
}
.primary-links li a:hover {
	font-weight:bold;
	text-decoration:none;
	color:black;
}
.primary-links li a:focus {
}
.primary-links li a:active {
}
/* Primary first and last classes. */
.primary-links li.first {
}
.primary-links li.last {
}
/* Active trail classes. */
.primary-links li.active {
}
.primary-links li.active-trail {
}
.primary-links li.active-trail a {
}
/* Secondary-links div wrapper */
#secondary-menu {
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(226,226,226,1) 2%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(2%, rgba(226,226,226,1)), color-stop(100%, rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(226,226,226,1) 2%, rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(226,226,226,1) 2%, rgba(255,255,255,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(226,226,226,1) 2%, rgba(255,255,255,1) 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E2E2E2', endColorstr='#ffffff', GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(255,255,255,1) 0%, rgba(226,226,226,1) 2%, rgba(255,255,255,1) 100%); /* W3C */
	margin-left: -19px;
	padding-left: 200px;
	width: 787px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
#secondary-menu {
	margin-left: -21px;
	width: 802px;
}
}
/* Class on the ul */
.secondary-links {
	text-align: center;
}
/* Modify the margin to set tab spacings. */
.secondary-links li {
	width: 168px;
}
.secondary-links li a {
	color: #7D7D7D;
	font-size: 1.1em;
	padding: 6px 26px;
	font-weight: bold;
}
/* Set pseudo class styles. */
.secondary-links li a:link {
}
.secondary-links li a:visited {
}
.secondary-links li a:hover {
	font-weight:bold;
	text-decoration:none;
	color:black;
}
.secondary-links li a:focus {
}
.secondary-links li a:active {
}
/* Secondary first and last classes. */
.secondary-links li.first {
}
.secondary-links li.last {
}
/* Active trail classes. */
.secondary-links li.active {
}
.secondary-links li.active-trail {
}
.secondary-links li.active-trail a {
}
/* Footer menus */
#footer-region .menu, #footer-region .menu ul, #footer-region .menu ul ul, #footer-region .menu ul ul ul {
}
#footer-region #block-menu-menu-footer-menu {
	float:left;
	width:100%;
	overflow:hidden;
	position:relative;
	margin-bottom: 14px;
}
#footer-region #block-menu-menu-footer-menu .menu {
	font-size: 14px;
	z-index: 0;
	clear:left;
	float:left;
	list-style:none;
	margin:0;
	padding:0;
	position:relative;
	left:50%;
	text-align:center;
}
/* Menu li styles */
#footer-region .menu li {
	float: left;
	list-style: none;
	display:block;
	list-style:none;
	margin:0;
	padding:0;
	position:relative;
	right:50%;
}
#footer-region .menu li.collapsed {
}
#footer-region .menu li.expanded {
}
#footer-region .menu li.leaf {
}
#footer-region .menu li a {
	display: block;
	white-space: nowrap;
	font-size: 1em;
	padding: 10px 0;
	text-decoration: none;
	text-transform: uppercase;
	color:#7D7D7D;
	width: 184px;
}
#footer-region .menu li.last a {
	border-right: none;
}
#footer-region .menu li a:link, #footer-region .menu li a:visited {
}
#footer-region .menu li a:hover, #footer-region .menu li a:focus, #footer-region .menu li a:active {
	font-weight:bold;
	text-decoration:none;
	color:black;
}
#footer-region .menu li.active a {
}
#footer-region .menu li.active-trail a {
}
#footer-region .menu li.first {
}
#footer-region .menu li.last {
}
.block #footer-region .menu li.content {
	padding: 0; /* extra class can equal a standard class */
}




/* Menus */
.menu, .menu ul, .menu ul ul, .menu ul ul ul {
}
/* Menu li styles */
.menu li {
}
.menu li.collapsed {
}
.menu li.expanded {
}
.menu li.leaf {
}
.menu li a:link, .menu li a:visited {
}
.menu li a:hover, .menu li a:focus, .menu li a:active {
}
.menu li.active a {
}
.menu li.active-trail a {
}
.menu li.first {
}
.menu li.last {
}
/* Breadcrumb */
#breadcrumb {
	padding-bottom: 1em;
}
#breadcrumb a {
}
#breadcrumb a:link {
}
#breadcrumb a:visited {
}
#breadcrumb a:hover {
}
#breadcrumb a:focus {
}
#breadcrumb a:active {
}
/* Skip Navigation */
#skip-nav {
	text-align: left;
	float: left;
	width: 160px;
}
#skip-nav.show-skip-link {
	text-align:right;
}
#skip-nav.show-on-focus {
	margin-top: 0;
	position: absolute;
	left: 50%;
	margin-left: -5.25em;
	width: auto !important;
	z-index: 50;
}
#skip-nav.show-on-focus a, #skip-nav.show-on-focus a:link, #skip-nav.show-on-focus a:visited, #skip-nav.show-on-focus a:focus, #skip-nav.show-on-focus a:hover, #skip-nav.show-on-focus a:active {
	position: absolute;
	display: block;
	top: auto;
	left: -10000px;
	width: 1px;
	height: 1px;
	background: #444;
	color: #fff;
	font-size: 0.9em;
	text-decoration: none;
	-khtml-border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	border-radius:0 0 10px 10px;
}
#skip-nav.show-on-focus a:hover, #skip-nav.show-on-focus a:active, #skip-nav.show-on-focus a:focus {
	position: static;
	width: auto;
	height: auto;
	overflow: visible;
	outline: 0;
	padding: 1px 10px 2px 10px;
}
/* Tabs */
.local-tasks {
	margin-bottom:1em;
}
ul.primary {
	border-bottom-color:#CCC;
	margin:1.5em 0 0;
	padding:0 0 .2em .3em;
}
ul.primary li a {
	background-color:#F5F5F5;
	margin-right:.08em;
	border-color:#CCC;
	padding:.1em .75em .2em;
}
.local-tasks ul.primary li a:hover {
	background-color:#F7F7F7;
	border-color:#DDD;
}
.local-tasks ul.primary li.active a {
	background-color:#FFF;
	border-bottom-color:#FFF;
}
ul.secondary {
	border-bottom:1px solid #CCC;
	margin:1em 0 0;
	padding:0 .3em 1em;
}
ul.secondary li {
	border-right:0;
	list-style:none;
	padding:0 2em 0 0;
}
ul.secondary li a:hover, ul.secondary li a.active {
	border-bottom:none;
	text-decoration:underline;
}
/* Pager */
ul.pager {
	clear:both;
	margin:0;
	text-align:center;
}
.item-list ul.pager li {
	margin:0;
}
ul.pager li {
	background-image:none;
	display:inline;
	list-style-type:none;
	padding:.5em;
}
ul.pager li.pager-current {
	font-weight:700;
}
.block ul.pager li {
	margin:0;
}
/* Theme the various states of pager links. */
ul.pager li a:link {
}
ul.pager li a:visited {
}
ul.pager li a:hover {
}
/* Note: .pager-current is for the current page. */
ul.pager li.pager-item {
}
ul.pager li.first {
}
ul.pager li.last {
}
ul.pager li.pager-current {
}
ul.pager li.pager-first {
}
ul.pager li.pager-previous {
}
ul.pager li.pager-next {
}
ul.pager li.pager-last {
}
/* User menu */
#user-menu {
	float: right;
	width: 760px;
}
#user-menu ul {
	float: right;
	margin: 0;
}
#user-menu ul li {
	display:inline;
	float:left;
	margin: 0 0 0 1em;
	padding: 0;
}
