/* CSS Document */

.view-photo-album .views-field-field-photo-album-image img {
	box-shadow:5px 5px 5px #888888;
}
.view-photo-album li.views-row {
	display:inline-block;
	margin:30px 10px 20px;
	text-align:center;
	vertical-align:top;
}
.view-photo-album .angelina {
	text-align:center;
	text-transform:lowercase;
	margin-top:5px;
	font-size:30px;
	line-height:22px;
}
.view-photo-album ul {
	text-align:center;
	margin:0;
}
.flex-caption {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
}
.view-display-id-attachment_1 .angelina {
    font-size: 24px;
    width: 250px;
}
