/* $Id: print.css,v 1.1.2.2 2008/08/21 22:03:40 jcnventura Exp $ */

body {
  margin: 1em;
  background-color: #fff;
  font-family:'CantarellRegular',Verdana,Geneva,"DejaVu Sans",sans-serif;
}
th {
  text-align: left; /* LTR */
  color: #006;
  border-bottom: 1px solid #ccc;
}
tr.odd {
  background-color: #ddd;
}
tr.even {
  background-color: #fff;
}
td {
  padding: 5px;
}
#menu {
  visibility: hidden;
}
#main {
  margin: 1em;
}
a:link {color: #000;}
a:visited {color: #000;}
a:hover {color: #00f;}
a:link img, a:visited img {border: 0;}
.print-footnote {font-size: xx-small;}
img.print-logo {border: 40px;}
.print-site_name {}
.print-breadcrumb {font-size: x-small;}
.print-title {
	font-size:18pt;
	font-weight: bold;
	margin:0;
}
.print-submitted {font-size: small;}
.print-created {font-size: small;}
.print-taxonomy {
  text-align: left;
}
.print-taxonomy li {display: inline;}
.print-content {}
.print-content .field-recipe-italian-title {
	color: #666666;
	font-size:18pt;
	font-weight: bold;
	margin-bottom:0;
}
.print-content .field-title h2 {
	margin-top:0;
}
.print-content .field-recipe-incredients {
	border: 6px dashed #DDDDDD;
    border-radius: 18px;
	-khtml-border-radius: 18px;
	-moz-border-radius: 18px;
	-webkit-border-radius: 18px;
    float: right;
    margin: 0 0 20px 20px;
    padding: 16px;
	width:280px;
}
.print-content .field-recipe-incredients .field-item {
	margin-top:10px;
}
.print-content .field-recipe-instructioins p {
	margin:0;
}
.print-content .field-recipe-instructioins p br {
	display: block;
   margin-bottom: 6px;
}
.print-content .field-recipe-instructioins {
	margin-top: 20px;
}
.print-hr {
  border: 0;
  height: 1px;
  width: 100%;
  color: #9E9E9E;
  background-color: #9E9E9E;
}
.print-message {
  border: medium dotted blue;
  padding: 1em;
}
.print-source_url {font-size: small;}
.print-links {font-size: small;}
.print-footer {
	text-align: center;
	clear: right;
}
.print-content .field-terms {
    display: inline;
    left: 140px;
    position: absolute;
    top: 112px;
	color: #666666;
    font-size: 18pt;
    font-weight: normal;
    text-decoration: none;
}