/* CSS Document */
/*
.section-products {
}
*/
.section-products .field-title h1 {
	color:#7D0000;
}
.section-products .field-body h2 {
	color:#7D0000;
}
.section-products .field-body a {
	color:#7D0000;
}