/* CSS Document */
/*
.section-products {
}
*/
.page-type-product .group-left {
	width: 29%;
}
.page-type-product .group-middle {
	width: 35%;
}
.page-type-product .group-right {
	width: 33%;
}
.section-products .field-title h1 {
	color:#7D0000;
}
.section-products .field-name-body h2 {
	color:#7D0000;
}
.section-products .field-name-body a {
	color:#7D0000;
}
.page-type-product .group-product-info-boxout {
	border:2px solid silver;
	border-radius: 4px;
	-khtml-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding:4px 10px 10px;
	line-height: 1.3;
	margin-left: 24px;
}
.group-product-info-boxout .field-label,
.field-name-field-product-storage .field-label,
field-name-field-product-serving .field-label,
.page-type-product .view-recommended-recipes h2 {
	color: #540E16;
	font-size: 1.5em;
	margin-bottom: 4px;
}
.page-type-product .field-product-nutritionalinfo .field-items, .page-type-product .field-product-ingredients .field-label {
	line-height: 1.3;
}
.page-type-product .field-product-nutritionalinfo {
	margin-top: 18px;
}
.subsection-pasta-sauces .field-name-body .field-label,
.subsection-pasta-sauces #page-title {
	color:#540E16;
}
.page-section-title-8 {
	background-color:#7E0001;
}
.page-section-title-9 {
	background-color:#004101;
}
.page-section-title-16 {
	background: black;
	color:white;
}
.page-section-title-10 {
	background-color:white;
	color:black;
	border:1px solid #ccc;
}
.section-products .view-product-categories {
	margin-top: 26px;
}
.section-products .view-product-categories .views-fluid-grid p {
	float: left;
	margin-top: 16px;
	width: 335px;
}
.section-products .field-name-field-product-buy-on {
	text-align: center;
}
.section-products .field-name-field-product-buy-on a {
	background: url(../images/asda-logo.gif) no-repeat 0 0 transparent;
	text-indent: -10000px;
	overflow: hidden;
	width: 120px;
	display: inline-block;
	height: 40px;
}
.views-fluid-grid {
	clear:both;
}
.views-fluid-grid h2 {
	clear:both;
}
.section-products .article {
	margin:0;
}