/* CSS Document */

/* Recipe categories menu */
.recipe-categories-menu {
	margin-top: 20px;
}
.recipe-categories-links {
	width: 800px;
	margin:0 auto;
}
/* Modify the margin to set tab spacings. */
.recipe-categories-links li {
	width:160px;
}
.recipe-categories-links li a {
	background: url("../images/recipe-categories.png") no-repeat scroll 0 0 #999;
    color: #FFFFFF;
    font-size: 1.3em;
    font-weight: bold;
    height: 30px;
    padding-top: 340px;
    text-align: center;
	opacity: .9;
	-khtml-opacity: .9;  
    -moz-opacity: .9;  
}
.recipe-categories-links li.recipe-category-1 a {
	background: url("../images/recipe-categories.png") no-repeat scroll -160px 0 #999;
}
.recipe-categories-links li.recipe-category-2 a {
	background: url("../images/recipe-categories.png") no-repeat scroll -320px 0 #999;
}
.recipe-categories-links li.recipe-category-3 a {
	background: url("../images/recipe-categories.png") no-repeat scroll -480px 0 #999;
}
.recipe-categories-links li.recipe-category-4 a {
	background: url("../images/recipe-categories.png") no-repeat scroll -640px 0 #999;
}
/* Set pseudo class styles. */
.recipe-categories-links li a:link {
}
.recipe-categories-links li a:visited {
}
.recipe-categories-links li a:hover {
	font-weight:bold;
	text-decoration:none;
	background-color:#4C4C4C;
	opacity:1;
	-khtml-opacity: 1;  
    -moz-opacity: 1;  
}
.recipe-categories-links li a:focus {
}
.recipe-categories-links li a:active {
}
/* Secondary first and last classes. */
.recipe-categories-links li.first {
}
.recipe-categories-links li.last {
}
/* Active trail classes. */
.recipe-categories-links li.active {
}
.recipe-categories-links li.active-trail {
}
.recipe-categories-links li.active-trail a {
}

/* Recipe page */
/*
.page-type-recipe {
}
.section-recipes {
}
.subsection-pesce {
} */
.page-type-recipe .node-type-recipe .nd-sidebar-right .nd-region-middle {
	margin-right: 52%;
}
.page-type-recipe .node-type-recipe .nd-region-right {
	width: 50%;
}
.node-type-recipe .field-title h1 {
	border-bottom: none;
	margin-top:4px;
}
.node-type-recipe.nd-region-middle {
	padding-right:10px;
}
.page-type-recipe .nd-region-header {
	border-bottom: 2px solid #CCC;
	margin-bottom: 14px;
}
.page-type-recipe .field-terms {
	font-size:1.75em;
	font-weight:bold;
}
.page-type-recipe .field-recipe-italian-title {
	font-size:1.75em;
	font-weight:bold;
	margin-bottom: -0.4em;
	line-height:1;
}
.page-type-recipe .field-recipe-incredients {
	margin-top: 18px;
}
.page-type-recipe .field-recipe-incredients .field-label {
	font-size: 1.45em;
	margin-bottom: 4px;
}
.page-type-recipe .field-recipe-incredients .field-items {
	line-height: 1.3;
	font-size: 1.1em;
}
.page-type-recipe .field-recipe-instructioins {
	margin-top: 18px;
}
.page-type-recipe .field-recipe-instructioins .field-label {
	font-size: 1.45em;
	margin-bottom: 4px;
}
.page-type-recipe .field-recipe-instructioins {
	line-height: 1.3;
	font-size:1.1em;
}
.page-type-recipe .field-recipe-image {
	text-align:right;
}

/* Category specific colors */

.subsection-pesce .field-recipe-serves,
.subsection-pesce .field-recipe-preptime,
.subsection-pesce .field-recipe-cookingtime,
.subsection-pesce .field-recipe-instructioins .field-label,
.subsection-pesce .field-recipe-incredients .field-label,
.subsection-pesce .field-recipe-italian-title,
.subsection-pesce .field-terms a,
.subsection-pesce .field-terms,
.subsection-pesce #page-title,
.subsection-pesce .field-recipe-italian-title a {
	color:#3570c7;
}
.subsection-antipasti .field-recipe-serves,
.subsection-antipasti .field-recipe-preptime,
.subsection-antipasti .field-recipe-cookingtime,
.subsection-antipasti .field-recipe-instructioins .field-label,
.subsection-antipasti .field-recipe-incredients .field-label,
.subsection-antipasti .field-recipe-italian-title,id
.subsection-antipasti .field-terms a,
.subsection-antipasti .field-terms,
.subsection-antipasti #page-title,
.subsection-antipasti .recipe-category-page-italian-title a {
	color:#808080;
}
.subsection-carne .field-recipe-serves,
.subsection-carne .field-recipe-preptime,
.subsection-carne .field-recipe-cookingtime,
.subsection-carne .field-recipe-instructioins .field-label,
.subsection-carne .field-recipe-incredients .field-label,
.subsection-carne .field-recipe-italian-title,
.subsection-carne .field-terms a,
.subsection-carne .field-terms,
.subsection-carne #page-title,
.subsection-carne .recipe-category-page-italian-title a {
	color:#800000;
}
.subsection-primi-piatti .field-recipe-serves,
.subsection-primi-piatti .field-recipe-preptime,
.subsection-primi-piatti .field-recipe-cookingtime,
.subsection-primi-piatti .field-recipe-instructioins .field-label,
.subsection-primi-piatti .field-recipe-incredients .field-label,
.subsection-primi-piatti .field-recipe-italian-title,
.subsection-primi-piatti .field-terms a,
.subsection-primi-piatti .field-terms,
.subsection-primi-piatti #page-title,
.subsection-primi-piatti .recipe-category-page-italian-title a {
	color:#d2ab6b;
}
.subsection-verdure .field-recipe-serves,
.subsection-verdure .field-recipe-preptime,
.subsection-verdure .field-recipe-cookingtime,
.subsection-verdure .field-recipe-instructioins .field-label,
.subsection-verdure .field-recipe-incredients .field-label,
.subsection-verdure .field-recipe-italian-title,
.subsection-verdure .field-terms a,
.subsection-verdure .field-terms,
.subsection-verdure #page-title,
.subsection-verdure .recipe-category-page-italian-title a {
	color:#034d03;
}

/* Recipe category page - WHITE */

.section-recipes .view-taxonomy-term  img.imagecache-recipe-category-page {
	border-radius: 4px;
	-khtml-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	outline:none;
}
.section-recipes .view-taxonomy-term a:hover {
	text-decoration:none;
}
.section-recipes .view-taxonomy-term .field-title a h2 {
	color:#666666;
	margin-top:-4px;
	font-size: 1.1em;
}
.section-recipes .view-taxonomy-term .field-title {
}
.section-recipes .view-taxonomy-term .field-recipe-italian-title a {
	font-size: 1.1em;
	font-weight: bold;
}
.section-recipes .view-taxonomy-term ul.taxonomy-page-list {
	list-style:none;
}
.section-recipes .view-taxonomy-term li.taxonomy-page-item {
	color: #444;
	display: inline-block;
	list-style-type: none;
	margin: 0 10px;
	overflow: hidden;
	padding: 3px;
	text-align: center;
	vertical-align: top;
	width: 300px;
}

/* Recipe category page - GREY */

.section-recipes .grey {
	background-color: #4C4C4C;
}
.section-recipes .grey .nd-region-header {
	background-color: white;
	margin-bottom: 0;
}
.section-recipes .grey .nd-region-middle-wrapper {
	padding: 14px 14px 0 14px;;
	color: white;
	border-top: white 16px solid;
}
.section-recipes .grey .nd-region-right {
	padding: 30px 14px 0 14px;
	color:white;
}
/* Category specific colors - GREY */

.subsection-pesce .field-recipe-serves,
.subsection-pesce .field-recipe-preptime,
.subsection-pesce .field-recipe-cookingtime,
.subsection-pesce .field-recipe-instructioins .field-label,
.subsection-pesce .field-recipe-incredients .field-label,
.subsection-pesce .field-recipe-italian-title {
	color:#8DC0DD;
}
.subsection-antipasti .field-recipe-serves,
.subsection-antipasti .field-recipe-preptime,
.subsection-antipasti .field-recipe-cookingtime,
.subsection-antipasti .field-recipe-instructioins .field-label,
.subsection-antipasti .field-recipe-incredients .field-label,
.subsection-antipasti .field-recipe-italian-title {
	color:#808080;
}
.subsection-carne .field-recipe-serves,
.subsection-carne .field-recipe-preptime,
.subsection-carne .field-recipe-cookingtime,
.subsection-carne .field-recipe-instructioins .field-label,
.subsection-carne .field-recipe-incredients .field-label,
.subsection-carne .field-recipe-italian-title {
	color:#800000;
}
.subsection-primi-piatti .field-recipe-serves,
.subsection-primi-piatti .field-recipe-preptime,
.subsection-primi-piatti .field-recipe-cookingtime,
.subsection-primi-piatti .field-recipe-instructioins .field-label,
.subsection-primi-piatti .field-recipe-incredients .field-label,
.subsection-primi-piatti .field-recipe-italian-title {
	color:#d2ab6b;
}
.subsection-verdure .field-recipe-serves,
.subsection-verdure .field-recipe-preptime,
.subsection-verdure .field-recipe-cookingtime,
.subsection-verdure .field-recipe-instructioins .field-label,
.subsection-verdure .field-recipe-incredients .field-label,
.subsection-verdure .field-recipe-italian-title {
	color:#034d03;
}