/* This file will hold styles that are loaded using the same media query as the wide grid. */
#region-menu .navigation #secondary-menu {
	width: 1070px;
	margin-left: -190px;
}
#region-menu {
	margin-left: -20px;
}
#region-menu .navigation a {
	font-size: 1.3em;
}
#region-menu .navigation #main-menu li a {
	padding: 10px 30px;
}
#region-menu .navigation #secondary-menu li a {
	padding: 10px 30px;
}
.page-recipes-fb-recipe-of-the-week .container-12 .grid-12 {
    width: 362px;
}
.context-recipes .view-taxonomy-term li.taxonomy-page-item, 
.view-recommended-recipes li.taxonomy-page-item {
    padding: 0 25px 1em;
}
